dask[complete]
distributed
numpy
pandas
geopandas
shapely
pyproj
scipy
scikit-image
flask
flask-cors
tensorflow>=2.0
matplotlib
scikit-learn
openpyxl
fiona
requests
jinja2
markupsafe
fsspec
python-dotenv